* {
  box-sizing: border-box;
}
html {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
}
html,
body {
  height: 100%;
  margin: 0;
}
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
td,
tr,
table {
  margin: 0;
  padding: 0;
}

h1 {
  font: normal normal normal 40px/1.4em cinzel, serif;
  color: #303131;
  pointer-events: auto;
}

h2 {
  font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #303131;
  pointer-events: auto;
}

h3 {
  font-size: 1.0625rem;
}

h4 {
  font-size: 0.75rem;
}

h5 {
  font-size: 0.9375rem;
}

ul,
ol {
  list-style: none;
}

a {
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

div {
  display: block;
}
a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
}

.SITE_CONTAINER {
  position: relative;
  min-height: 100vh;
}
