@import "./variables";

@media screen and (max-width: $screen-lg - 1px) {
  .section {
    top: 95px;
    min-width: 100%;
    &__div {
      width: 100%;
      min-width: 100%;
    }
  }
  .about {
  }
}
