.form {
  height: auto;
  width: 400px;
  position: relative;
  &__block {
    height: auto;
    width: 400px;
    position: relative;
  }
  &__gridContainer {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 100%;
  }

  &__p {
    width: 378px;
    pointer-events: none;
    position: relative;
    margin: 10px 0px 12px 0;
    left: 11px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }
  &__subscribe-now {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
  }
  &-email {
    width: 238px;
    height: 60px;
    position: relative;
    margin: 0px 0px 3px 0;
    left: 11px;
    grid-area: 2 / 1 / 3 / 2;
  }
  &-submiting {
    cursor: pointer;
    height: 33px;
    min-height: 22px;
    width: 133px;
    position: relative;
    margin: 22px 0px 5px 0;
    left: 256px;
    justify-self: start;
    align-self: start;
    pointer-events: auto;
    grid-area: 2 / 1 / 3 / 2;
  }
  &__completed {
    width: 321px;
    pointer-events: none;
    position: relative;
    margin: 0px 0px 25px 0;
    left: 11px;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: start;
    align-self: start;
    &__p {
      margin: 0;
      line-height: normal;
      letter-spacing: normal;
      pointer-events: auto;
      font: normal normal normal 16px/1.4em sans-serif;
      color: #303131;
    }
    &__spaan {
      color: #303131;
      font: normal normal normal 16px/1.4em sans-serif;
      visibility: hidden;
      pointer-events: auto;
    }
  }
}
